p{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
.prof-pic{
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 12px;
}
.name{
  margin-left: 8px;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}
.mutual-pic{
  height: 28px;
  width: 28px;
  object-fit: cover;
  border-radius: 14px;
  vertical-align: middle;
  margin-right: 4px;
}
.mutual-friends{
  display: inline-block;
  color: rgb(100,100,100);
  vertical-align: middle;
}
.mutual-row{
  margin-left: 8px;
  margin-bottom: 10px;
}
.add-btn{
  background-color:  rgb(24, 119, 242);
  border: none;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  margin-left: 8px;
  margin-bottom: 10px;
}
.card{
  width: 200px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}